# Server
PORT=3000
NODE_ENV=development
CLIENT_URL=http://localhost:3000

# Session
SESSION_SECRET=fill it
# Session timeout in minutes 
SESSION_TIMEOUT_MINUTES=15

# Google OAuth (from https://console.cloud.google.com/apis/credentials)
GOOGLE_CLIENT_ID= fill it
GOOGLE_CLIENT_SECRET=fill it
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback

# GitHub OAuth (from https://github.com/settings/developers)
GITHUB_CLIENT_ID=fill it
GITHUB_CLIENT_SECRET=fill it
GITHUB_CALLBACK_URL=http://localhost:3000/auth/github/callback